<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.williamsumitro.dress">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/noactionbar">
        <activity android:name=".view.view.main.MainActivity" />
        <activity android:name=".view.view.product.activity.DetailProduct" />
        <activity android:name=".view.view.openstore.activity.DetailOutlet" />
        <activity android:name=".view.view.authentication.Login" />
        <activity android:name=".view.view.authentication.Register" />
        <activity android:name=".view.view.product.activity.DetailProduct_details" />
        <activity android:name=".view.view.product.activity.DetailProduct_sizeguide" />
        <activity android:name=".view.view.product.activity.DetailProduct_courier" />
        <activity android:name=".view.view.product.activity.DetailProduct_discussions" />
        <activity android:name=".view.view.product.activity.DetailProduct_reviews" />
        <activity android:name=".view.view.product.activity.DetailProduct_discussionsnew" />
        <activity android:name=".view.view.product.activity.DetailProduct_discussionsdetail" />
        <activity android:name=".view.view.product.activity.ManagePasswords" />
        <activity android:name=".view.view.product.activity.DetailProduct_pricerange" />
        <activity android:name=".view.view.Aboutus" />
        <activity android:name=".view.view.Help" />
        <activity android:name=".view.view.bag.activity.Buy" />
        <activity android:name=".view.view.bag.activity.ShoppingBag" />
        <activity android:name=".view.view.checkout.activity.Checkout" />
        <activity android:name=".view.view.purchase.activity.PaymentDetail" />
        <activity android:name=".view.view.purchase.activity.OrderDetail" />
        <activity android:name=".view.view.purchase.activity.ReviewandrateDetail" />
        <activity android:name=".view.view.filter.Filter" />
        <activity android:name=".view.view.search.activity.Search" />
        <activity android:name=".view.view.search.activity.SearchResult" />
        <activity android:name=".view.view.category.activity.CategoryDetail" />
        <activity android:name=".view.view.mystore.activity.PreviewStore" />
        <activity android:name=".view.view.bid.activity.BidDetail" />
        <activity android:name=".view.view.profile.activity.Profile" />
        <activity android:name=".view.view.profile.activity.EditProfile" />
        <activity android:name=".view.view.profile.activity.ChangePassword" />
        <activity android:name=".view.view.profile.activity.ChangeProfilePicture" />
        <activity android:name=".view.view.mystore.activity.StoreSettings" />
        <activity android:name=".view.view.mystore.activity.StoreEditInformation" />
        <activity android:name=".view.view.mystore.activity.StoreEditBank" />
        <activity android:name=".view.view.mystore.activity.StoreEditCourier" />
        <activity android:name=".view.view.openstore.activity.OpenStore" />
        <activity android:name=".view.view.authentication.Unauthorized" />
        <activity android:name=".view.view.wallet.activity.Mywallet" />
        <activity android:name=".view.view.wallet.activity.Withdraw" />
        <activity android:name=".view.view.sellerpanel.SellerPanel" />
        <activity android:name=".view.view.sellerpanel.product.activity.AddProduct" />
        <activity android:name=".view.view.openstore.activity.Openstrore_Fileupload" />
        <activity android:name=".view.view.checkout.activity.Payment" />
        <activity android:name=".view.view.checkout.activity.CheckoutSuccess" />
        <activity
            android:name=".view.view.authentication.Splashscreen"
            android:theme="@style/Splashtheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.view.openstore.activity.NoStore" />
        <activity android:name=".view.view.purchase.activity.Purchase" />
        <activity android:name=".view.view.purchase.payment.activity.PurchasePayment" />
        <activity android:name=".view.view.purchase.order.activity.PurchaseOrderStatus" />
        <activity android:name=".view.view.purchase.receipt.activity.PurchaseReceiptConfirmation" />
        <activity android:name=".view.view.purchase.reviewrating.activity.PurchaseReviewRating" />
        <activity android:name=".view.view.purchase.history.activity.PurchaseHistory" />
        <activity android:name=".view.view.purchase.payment.activity.PP_InvoiceDetail" />
        <activity android:name=".view.view.sellerpanel.sales.orderconfirmation.activity.OrderConfirmation" />
        <activity android:name=".view.view.sellerpanel.sales.shippingconfirmation.activity.ShippingConfirmation" />
        <activity android:name=".view.view.sellerpanel.sales.orderconfirmation.activity.OrderApproveProduct" />
        <activity android:name=".view.view.purchase.reviewrating.activity.PurchaseReviewRatingDetail" />
        <activity android:name=".view.view.purchase.history.activity.PurchaseHistoryDetail" />
        <activity android:name=".view.view.sellerpanel.partnership.activity.UplinePartnership" />
        <activity android:name=".view.view.sellerpanel.partnership.activity.DownlinePartnership" />
        <activity android:name=".view.view.sellerpanel.partnership.activity.MyUplinePartnership" />
        <activity android:name=".view.view.sellerpanel.partnership.activity.MyDownlinePartnership"></activity>
    </application>

</manifest>