<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.williamsumitro.dress">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/noactionbar">
        <activity android:name=".view.view.main.MainActivity" />
        <activity
            android:name=".view.view.splash.splashscreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.view.product.activity.DetailProduct" />
        <activity android:name=".view.view.sellerpanel.activity.DetailOutlet" />
        <activity android:name=".view.view.authentication.Login" />
        <activity android:name=".view.view.authentication.Register" />
        <activity android:name=".view.view.product.activity.DetailProduct_details" />
        <activity android:name=".view.view.product.activity.DetailProduct_sizeguide" />
        <activity android:name=".view.view.product.activity.DetailProduct_courier" />
        <activity android:name=".view.view.product.activity.DetailProduct_discussions" />
        <activity android:name=".view.view.product.activity.DetailProduct_reviews" />
        <activity android:name=".view.view.product.activity.DetailProduct_discussionsnew" />
        <activity android:name=".view.view.product.activity.DetailProduct_discussionsdetail" />
        <activity android:name=".view.view.product.activity.ManagePasswords" />
        <activity android:name=".view.view.product.activity.DetailProduct_pricerange" />
        <activity android:name=".view.view.Aboutus" />
        <activity android:name=".view.view.Help" />
        <activity android:name=".view.view.bag.activity.Buy" />
        <activity android:name=".view.view.bag.activity.ShoppingBag" />
        <activity android:name=".view.view.checkout.activity.Checkout" />
        <activity android:name=".view.view.order.activity.PaymentDetail" />
        <activity android:name=".view.view.order.activity.OrderDetail" />
        <activity android:name=".view.view.order.activity.ReviewandrateDetail" />
        <activity android:name=".view.view.filter.Filter" />
        <activity android:name=".view.view.search.activity.Search" />
        <activity android:name=".view.view.search.activity.SearchResult" />
        <activity android:name=".view.view.category.activity.CategoryDetail" />
        <activity android:name=".view.view.sellerpanel.activity.PreviewStore" />
        <activity android:name=".view.view.bid.activity.BidDetail" />
        <activity android:name=".view.view.profile.activity.Profile" />
        <activity android:name=".view.view.profile.activity.EditProfile" />
        <activity android:name=".view.view.profile.activity.ChangePassword" />
        <activity android:name=".view.view.profile.activity.ChangeProfilePicture" />
        <activity android:name=".view.view.sellerpanel.activity.StoreSettings" />
        <activity android:name=".view.view.sellerpanel.activity.StoreEditInformation" />
        <activity android:name=".view.view.sellerpanel.activity.StoreEditBank" />
        <activity android:name=".view.view.sellerpanel.activity.StoreEditCourier" />
        <activity android:name=".view.view.sellerpanel.activity.OpenStore" />
        <activity android:name=".view.view.authentication.Unauthorized" />
        <activity android:name=".view.view.Wallet.activity.Mywallet" />
        <activity android:name=".view.view.Wallet.activity.Withdraw" />
        <activity android:name=".view.view.sellerpanel.activity.SellerPanel"></activity>
    </application>

</manifest>