<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.williamsumitro.dress">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.view.main.MainActivity"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.splash.splashscreen"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.view.product.activity.DetailProduct"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.outletdetail.activity.DetailOutlet"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.authentication.Login"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.authentication.Register"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.product.activity.DetailProduct_details"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.product.activity.DetailProduct_sizeguide"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.product.activity.DetailProduct_courier"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.product.activity.DetailProduct_discussions"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.product.activity.DetailProduct_reviews"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.product.activity.DetailProduct_discussionsnew"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.product.activity.DetailProduct_discussionsdetail"
            android:theme="@style/noactionbar" />
        <activity android:name=".view.view.Settings" />
        <activity
            android:name=".view.view.product.activity.ManagePasswords"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.product.activity.DetailProduct_pricerange"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.Aboutus"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.Help"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.bag.activity.Buy"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".view.view.bag.activity.ShoppingBag"
            android:theme="@style/noactionbar" />
        <activity android:name=".view.view.checkout.activity.Checkout"
            android:theme="@style/noactionbar" />
    </application>

</manifest>